@{
    ViewData["Title"] = "Create Old Inspection Request";
}

<h2>ثبت درخواست معاینه فنی قدیمی</h2>
<form asp-controller="Home" asp-action="CreateInspectionRequest" method="post" class="box">
</form>
